.modal_wrapper {
    position: fixed;
    bottom: 50%;
    width: 100%;
    background: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(10px);
    padding: 50px;
    z-index: 1;

}

.modal_wrapper.open {
    height: 100%;
    display: block;
}

.modal_wrapper.open {
    height: 0;
    display: none;
}

.modal_body {
    max-width: 500px;
    margin: auto;
    background: white;
    padding: 20px;
    border-radius: 10px;
    max-height: 100%;

}

.modal_close {
    text-align: right;
    margin-bottom: 5px;
    font-size: 20px;
    cursor: pointer;
    color: seagreen;
}

#btn {
    border-radius: 5px;
    border: 1px solid black;
    margin: 5px;
    background: linear-gradient(#19bb19, seagreen);
    font-size:20px;
}
