.registration {
    width: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.registration img {
    width: 40px;
    border-radius: 100%;
    cursor: pointer;
}

.userName {
    font-weight: bold;
    margin-right: 2px;
}
