.users-box {
    display: flex;
    background: rgba(255, 248, 220, 0.04);
    margin: 10px;
    justify-content: center;
}

.info-box {
    width: 50%;
    text-align: center;
}

.users {
    width: 50%;
}
