#film-box {
    position: relative;
    background-color: #222;
    display: block;
    width: 210px;
    height: 350px;
    float: left;
    margin: 2px;
    text-align: center;
    font-size: 13px;
    padding-top: 5px;
    border: 1px solid #222;
    color: #bbb;
    text-decoration: none;
}

#film-box:hover {
    background: #595959;
}

.f-rate {
    position: absolute;
    bottom: 0;
}

.year {
    position: absolute;
    bottom: 2px;
    left: 167px;
    font-weight: bold;
    font-size: 15px;
    font-style: italic;
    color: #bf090e;
    width: 35px;
}
