#paginationForm {
    display: inline-flex;
    justify-content: center;
    width: 30%;
    height: 40px;
    margin: 10px;
}

#paginationForm input {
    width: 30%;
    text-align: center;
    font-size: 16px;
}

.movies-page {
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.pages {
    margin: 20px 0;
    width: 70%;
}

.page, .current-page{
    border: 1px solid lightgray;
    border-radius: 100%;
    padding: 5px 10px;
    margin: 0 10px;
    cursor: pointer;
}

.current-page {
    border: 2px solid gray;
    font-weight: 700;
}

.pagination-box {
display: flex;
}

