.genres-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: #222;
    width: 82%;
    margin-bottom: 2px;
    text-align: center;
    font-size: 13px;
    padding: 2px;
    border: 1px solid #222;
    color: #bbb;
    box-sizing: border-box;
}

.genres {
    border: 1px solid #bbb;
    margin: 2px;
    padding: 2px;
    width: 16%;
    border-radius: 5px;
    text-decoration: none;
    color: #bbb;
}

.genres:hover {
    background: #595959;
    font-weight: bold;
    color: orange;
}
