.genres-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #222;
    width: 82%;
    margin: 2px;
    text-align: center;
    font-size: 13px;
    padding-top: 5px;
    border: 1px solid #222;
    color: #bbb;
    border-radius: 5px;
}

.genres {
    border: 1px solid #bbb;
    margin: 3px;
    padding: 4px;
    width: 19%;
    border-radius: 5px;
    text-decoration: none;
    color: #bbb;
}

.genres:hover {
    background: #595959;
}
