.header {
    border-bottom: 2px solid #b53600;
    margin-bottom: 7px;
    height: 100px;
    display: flex;
    justify-content: space-between;
    background: linear-gradient(217deg, rgba(255, 0, 0, .8), rgba(255, 0, 0, 0) 70.71%),
    linear-gradient(127deg, rgba(0, 255, 0, .8), rgba(0, 255, 0, 0) 70.71%),
    linear-gradient(336deg, rgba(0, 0, 255, .8), rgba(0, 0, 255, 0) 70.71%);
}

.logo {
    width: 300px;
    height: 150px;
    position: relative;
    top: -38px;
    cursor: pointer;
}
