#face {
    margin: 5px;
}

.img {
    margin: 10px;
    float: left;
    border: 2px solid #252525;
    width: 40%;
}

.t-row {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin: 20px;
}


.r-1 {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.r-2 {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.r1-1 {;
    margin: auto;
    width: 10%;
}

.r1-2 {
    width: 90%;
}

.overview-box {
    width: 20%;
}

#Badge {
    border: 2px solid #252525;
    margin: 2px;
    color: gold;
    background: linear-gradient(#acafb4, #464a4d);
}

#Badge a {
    text-decoration: none;
    color: #a5a5a5
}


#Badge:hover {
    background: linear-gradient(#464a4d, #acafb4);
}


.goBack {
    background: linear-gradient(#acafb4, #464a4d);
    border-color: #464a4d;
    display: inline-block;
    font-weight: 300;
    line-height: 20px;
    color: rgb(255, 255, 255);
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    user-select: none;
    padding: .375rem .75rem;
    font-size: 1rem;
    border-radius: .25rem;
    margin: 10px;
}

.goBack:hover {
    background: linear-gradient(#464a4d, #acafb4);
}
