.switch-container {
    width: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 25px;
}

.switch-icon {
    margin-top: 22px;
}

.switch-for {
    cursor: pointer;
    font-size: 15px;
    line-height: 25px;
    position: relative;
    display: flex;
}

.switch-for:after {
    content: '';
    width: 50px;
    height: 25px;
    background-color: green;
    border: 1px solid #000;
    border-radius: 15px;
    position: absolute;
}

.switch-for:before {
    content: '';
    margin-left: 3px;
    width: 19px;
    height: 19px;
    background-color: #fff;
    border-radius: 50%;
    position: absolute;
    top: 3px;
    z-index: 1;
    transition-duration: 300ms;
}

.switch {
    display: none;
}

.switch:checked + .switch-for::before {
    transform: scale(-1) translate(-130%, 0%);
}
