.App {
    text-align: center;
}

.item-todo {
    padding: 14px;
    width: 250px;
    margin: 0 auto;
    text-align: left;
    margin-top: 15px;
    background: linear-gradient(
            90deg,
            rgba(93, 12, 255, 1) 0%,
            rgba(155, 0, 250, 1) 100%
    );
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.item-text {
    display: inline-block;
    cursor: pointer;
}

input {
    padding: 15px;
    border: 2px solid #5d0cff;
    outline: none;
    background: transparent;
}

button {
    padding: 17px;
    border: none;
    cursor: pointer;
    outline: none;
    background: linear-gradient(
            90deg,
            rgba(93, 12, 255, 1) 0%,
            rgba(155, 0, 250, 1) 100%
    );
    color: #fff;
    text-transform: capitalize;
}

.item-delete {
    display: inline-block;
    cursor: pointer;
    float: right;
    font-size: 22px;
    position: relative;
    left: -4px;
    bottom: 5px;
}

.strike {
    text-decoration: line-through;
}
