.wrap {
    display: flex;
    justify-content: space-evenly;
    background: linear-gradient(to bottom, #fe9600 0%,#f06601 100%);
    border-bottom: 1px solid #b53600;
}

.wrap a {
    text-decoration: none;
    text-transform: uppercase;
    color: #ffffff;
    margin: 5px;
}

.wrap a:hover{
    color: red;
}
